/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/*  */

/* global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #eff0f4;
}

*:not(i){
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.outer-shadow{
    box-shadow: 3px 3px 3px #f0f0f0, -3px -3px 3px #d3d3d3;
}

.active{
    color: rosybrown !important;
}